<div class="col-3">
    <h1>{{ title }}</h1>
</div>
<div class="row">
    <div class="col-3">
        <mat-slide-toggle (click)="toggleStats()" [(ngModel)]="statsVisible" >Statistics</mat-slide-toggle>
    </div>
    <div class="col-3">
        <button class="btn btn-primary" (click)="toggleStats()">
            {{ statsVisible? "Hide" : "Show" }} Statistics
        </button>
    </div>
</div>

<app-typing-space></app-typing-space>

<div class="col12" *ngIf="statsVisible">
    <app-stats></app-stats>
</div>